div.windowTab {
    background-color: #EEEEEE;
    border: 1px solid #333333;
    padding: 5px;
    margin: 25px;
}

#tip {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #333333;
    color: #cccccc;
    padding: 20px;
    border-radius: 10px;
}

div.componentPlaceholder {
    background-color: #666666;
    color: #ffffff;
}

div.componentPlaceholder.tree,
div.componentPlaceholder.grid,
div.componentPlaceholder.textarea,
div.componentPlaceholder.awesomeDynamicList {
    background-color: #222222;
    height: 100%;
}

div.gridLayout,
div.borderLayout {
    position: relative;
}

div.viewElement div.desc {
    display: none;
}

div.gridLayout div.content,
div.borderLayout div.content {
    position: relative;
}

div.gridLayout {
    border: 1px solid #0000FF;
    padding: 5px;
}

div.borderLayout {
    border: 1px solid #222222;
    padding: 5px;
}

div.layoutElement {
    position: absolute;
    border: 1px dotted #222;
    padding: 5px;
    background-color: #cccccc;
}

div.layoutElement div.content {
    position: relative;
}

.viewElement.focused {
    border: 2px solid red;
    margin: -1px;
}

.windowTab {
    width: 900px;
}

.windowTab.focused {
    border: 2px solid red;
    margin: 24px;
}

